.callback-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #ffff;
  color: #000;

  h2 {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: bold;
  }

}



